<div>
    <h2>Chat</h2>
    <input type="text" id="text">
    <ul id="message">



    </ul>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/js/realTimeChat.js"></script>



</div>