<div>
    <h1>Login</h1>
    <div class="container border">
        <form id="cookieform" action="/api/session/login" method="POST">
            <label for="email">Email:</label>
            <input type="text" name="email">
            <label for="password">Password:</label>
            <input type="text" name="password">
            <input type="submit">
        </form>
    </div>
</div>