<div>
    <h1>Formulario de Registro de Usuarios</h1>
    <div class="container-sm justify-content-center">
        <form id="cookieform" action="/api/session/register" method="POST" class="container-sm m-3 border">
        
        </form>
    </div>
</div>